@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.dm-sans {
  font-family: 'DM Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* Custom CSS for square checkboxes */
input[type='checkbox'].custom-checkbox {
  margin: 0;
  font: inherit;
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  appearance: none;
  border-radius: 2px; /* Make square */
  color: currentColor;
  place-content: center;
  background-color: #fff;
  -webkit-appearance: none;
  border: 2px solid #dce7ff;
}

input[type='checkbox'].custom-checkbox::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2px;
  transform: scale(0);
  background-color: #013bb7;
  transition: 120ms transform ease-in-out;
}

input[type='checkbox'].custom-checkbox:checked::before {
  transform: scale(1);
}

/* Custom CSS for square radio buttons */
input[type='radio'].custom-radio {
  margin: 0;
  font: inherit;
  display: grid;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  appearance: none;
  border-radius: 2px; /* Make square */
  color: currentColor;
  place-content: center;
  background-color: #fff;
  -webkit-appearance: none;
  border: 2px solid #dce7ff;
}

input[type='radio'].custom-radio::before {
  content: '';
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 2px;
  transform: scale(0);
  background-color: #013bb7;
  box-shadow: inset 1rem 1rem #013bb7;
  transition: 120ms transform ease-in-out;
}

input[type='radio'].custom-radio:checked::before {
  transform: scale(1);
}

#inTechOrgChart .orgNodeChildGroup .nodeGroupLineVerticalMiddle {
  border-right: solid 1px #dce7ff;
}

#inTechOrgChart .nodeLineBorderTop {
  border-top: solid 1px #dce7ff;
}

.job_html_editor .quill .ql-container {
  height: 272px !important;
}

.error {
  color: red;
  font-size: 12px;
  padding-top: 1px;
  padding-left: 2px;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: spin;
  animation-duration: 500ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.react-datepicker-popper {
  z-index: 999 !important;
}
.job_html_editor .ql-toolbar.ql-snow {
  border: 1px solid #dce7ff !important;
  border-radius: 8px !important;
  border-bottom-left-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.job_html_editor .ql-container.ql-snow {
  border: 1px solid #dce7ff !important;
  border-top: 0px !important;
  border-radius: 8px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
